*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-principal: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-dos-botoes: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: "Inter", sans-serif;
}

body{
    background-color:var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal); 
    font-size: 1rem;
    font-weight: 400;
}

.principal{
   background-image: url(./imagens/fundo.png);
   background-repeat: no-repeat;
   background-size: contain;
   align-content: center;
   text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 11em;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0 ;
}

.container__botao{
    text-decoration: none;
    background-color: var(--cor-dos-botoes);
    color: var(--cor-principal);
    padding: 1em;
    border-radius: 8px;
    font-size: 1rem; 
    display: block; 
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: #fbfcfd;
    color: var(--cor-dos-botoes);
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container__aviso{
    color: var(--cor-secundaria);
    font-size: 0.75rem ;
    font-weight: 400;
}

.outras_telas{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15em;
    
}

.outras__telas__conteudo{
    width: 30%;
}

.container__titulo__outras__telas{
    font-size: 2rem;
    font-weight: bold;
}

.conteudo__texto{
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.texto__espacado{
    margin-bottom: 2em;
}
.outras__tela__botao{
    display: inline-block;  
}

.tela_dispositivos{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 6em;
    border: 1px solid var(--cor-principal);
    border-radius: 20px;
    margin: 0 15% 10% 15%; 
}

.dispositivos__amarelo:hover{
    background-color: #ffff00b4;
    border-radius: 10px;
}

.dispositivos__verde:hover{
    background-color: #008000b6;
    border-radius: 10px;
}

.dispositivos__azul:hover{
    background-color: #0000ffb6;
    border-radius: 10px;
}

.dispositivos{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 69px;
    font-size:2rem ;
    margin: 1.5em 0 ;
}

.final{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 3em;
}

.logo_alura{
    margin-bottom: 1em;
}
.rodape{
    font-size: 1rem;
}

.dispositivos__links{
    text-decoration: none;
    color: var(--cor-principal); 
    padding: 15px;
}

.dispositivos__links:hover{
background-color: #167BF7;
border-radius: 8px;
}

.rodape_texto{
    font-size: 0.87rem;
    text-align: center;
    padding: 1em;
}